section{
    padding-top: 128px;
    position: relative;
}
section::before{
    z-index: -1;
    content:"" ;
    font-size: 72px;
    color: gray;
    opacity: 0.25;
    position: absolute;
    font-weight: 700;
    top: 20px;
    left: -20px;
}
.btn{
    border: 3px solid black;
    border-radius: 24px;
}
.btn:hover, .btn.active{
    border: 3px solid black;
    background-color: black;
    color: white;
}
.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}
.home h1{
    font-size: 72px;
}
.home h3{
    font-size: 48px;
}
.home img{
    width: 100%;
    border-radius:74px ;
}

.home .arrow img{
    width: 60px;
}
.work::before{
    content: "Work";
}

.pop:hover{
    border-top-color: var(--teal) !important;
    transform: scale(1.03);
    transition: all 0.3s;
  }
  .pop{
    width: 400px;
    margin-top: 20px;
  }


.about::before{
    content: "About";

}
.about-exp-item{
    margin-top: 48px;
}
.about-exp-item-detail{
    display: none;
}
.about-exp-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#arrow{
    animation:1s upDown infinite;
}
.contact{
    padding-bottom: 128px;
}
.contact-img{
    width: 100%;

}
.contact::before{
    content: "Contact";
}
.contact-form{
    border: 1px solid black;
    padding: 64px 32px;
    margin-left: 34px;
}
.form-label{
    font-weight: 700;
}
@keyframes upDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(24px);
    }
    100%{
        transform: translateY(0);
    }
}
@media only screen and (max-width: 768px) {
    .home img{
        width: 50%;
    }
}
@media only screen and (max-width:576px) {
    section::before{
        left: -10px;
        font-size: 54px;
    }
    /* @media only screen and (max-width:576px) {
        section::before{
            left: -10px;
            font-size: 64px;
        } */
}